*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e7e6e6;
    color: #222;
}

.book{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bookList{
    background-color: cornsilk;
    margin: 20px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    border: transparent rgb(187, 184, 184) ;
    border-radius: 5px;
    box-shadow: 8px 8px 5px 2px #aaaaaa;
}

.title{
    margin-top: 5px;
    margin-left: 20px;
    line-height: 15px;
    font-size: 17px;
    text-align: start;
}
.author{
    text-align: start;
    margin: 5px 0px 10px 20px;
    color: rgb(153, 152, 152);
    font-weight: bold;
}
.img{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    max-width: 200px;
}