*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Amazon Ember",Arial,sans-serif;
    background: #f7f5f5;
    color: #222;
}

.book{
    display:flex;
    justify-content: center;
}
.bookList{
    margin: 8px;
    width: 100%;
    max-width: 150px;

}

.title,a{
    margin: 5px 0;
    color: #007185;
    font-size: 14px;
    text-align: start;
    text-decoration: none;
    letter-spacing: normal;
}
.author{
    text-decoration: none;
    color: #007185;
    font-size: 12px;
    line-height: 16px;
}
.img{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    max-width: 180px;
}